# Download files
DOWNLOAD_EXPIRATION_DAYS=
DOWNLOAD_MAX_DOWNLOADS=
PRIVATE_FILES_DIR=

# DB
DATABASE_PRISMA_DATABASE_URL=
JWT_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Admin account
ADMIN_EMAIL=
ADMIN_PASSWORD=

# SMTP Configuration (Gmail)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
RECIPIENT_EMAIL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PUBLIC_SITE_URL=
