---
import Layout from '../layouts/Layout.astro';
import Hero from "../layouts/Hero.astro";
import Features from "../layouts/Features.astro";
---

<Layout>
    <main class="min-h-screen bg-[#fee1e3]">
        <Hero />
        <!--<Features />-->
    </main>
</Layout>
