---
import Layout from '../layouts/Layout.astro';
import Hero from "../layouts/Hero.astro";
import Features from "../layouts/Features.astro";
---

<Layout>
    <main class="min-h-screen bg-gradient-to-br from-purple-100 via-pink-50 to-orange-100">
        <Hero />
        <Features />
    </main>
</Layout>

