---
import Col from "../../components/Col.astro";
import Row from "../../components/Row.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../layouts/Section.astro";
---

<Layout>
    <Section>
        <Row class="items-start">

            <Col >
                <Title class="pt-12">¡Hola! Soy Gabi y te invito a conocerme :)</Title>
            </Col>
            <Col>
                <img class="rounded-xl" src="sobre-mi/me.jpg" />
            </Col>
        </Row>
    </Section>
</Layout>
