---
import Col from "../../components/Col.astro";
import Row from "../../components/Row.astro";
import Text from "../../components/Text.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../layouts/Section.astro";
---

<Layout>
    <Section>
        <Row class="items-start">
            <Col class="md:px-12 px-0">
                <Title class="md:text-6xl text-4xl pt-12 md:leading-22">¡Hola! Soy Gabi y te invito a conocerme :)</Title>
                <img class="rounded-xl my-6 md:hidden" src="sobre-mi/me.jpg" />
                <Text>Me llamo Gabriela Rey, aunque en redes seguramente me conozcas como madameardent. Soy diseñadora gráfica e ilustradora editorial y, desde 2020, ayudo a autoras y autores de todo el mundo a vestir sus novelas para que brillen y encuentren su lugar en el mercado. Me encanta trabajar mano a mano contigo, que estés presente en cada paso del proceso y que te sientas acompañado, escuchado y, sobre todo, que disfrutes tu proyecto tanto como yo disfruto crearlo contigo.</Text>
                <Text>Soy una apasionada de mi trabajo. Llevo años trabajando muy duro para poder hacer lo que hago y que vuestros libros tengan el mejor trato que se merecen.</Text>
                <Text class="font-bold">Si te apetece dar forma a tu historia con mimo y muchas ganas, escríbeme a <Link href="mailto:madameardent@gmail.com">madameardent@gmail.com</Link> y empezamos esta aventura juntas/os.</Text>
            </Col>
            <Col class="hidden md:block">
                <img class="rounded-xl" src="sobre-mi/me.jpg" />
            </Col>
        </Row>
    </Section>
</Layout>
