---
import { cn } from "../lib/utils";
import Text from "./Text.astro";

export interface Props {
    items: string[];
    class?: string;
}

const { items, class: className = "" } = Astro.props;
---

<ul class={cn("flex flex-col gap-3 w-full", className)}>
    {items.map((item) => (
        <li class="flex items-start gap-3">
            <span class="text-primary font-simplify text-xl leading-none mt-1">✦</span>
            <Text class="flex-1">{item}</Text>
        </li>
    ))}
</ul>
