---
import Layout from "../../layouts/Layout.astro";
import Section from "../../layouts/Section.astro";
import Title from "../../components/Title.astro";
import Text from "../../components/Text.astro";
---

<Layout>
    <Section>
        <Title class="md:text-6xl text-4xl md:leading-22">
            Ilustración
        </Title>
        <Text class="mt-6 max-w-2xl text-secondary-500 text-lg leading-relaxed">
            Próximamente.
        </Text>
    </Section>
</Layout>
