---
import Col from "../components/Col.astro";
import Row from "../components/Row.astro";
import { TOP_MENU_HEIGHT } from "../lib/constants/constants";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import { getLangFromUrl, useTranslations, localizedRoute } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative px-4" style={`min-height: calc(100dvh - ${TOP_MENU_HEIGHT.EXPANDED}px)`}>
    <Row class="flex-col md:flex-row h-full">
        <Col class="w-full md:w-1/2 items-center md:items-end order-2 md:order-1">
            <Col class="w-full md:w-2/3 items-center md:items-start gap-6 md:gap-8 text-center md:text-left">
                <Title class="mb-2 md:mb-6">{t('home.title')}</Title>
                <span>{t('home.subtitle')}</span>
                <a href={localizedRoute('contact', lang)}>
                    <Button>{t('common.startProject')}</Button>
                </a>
            </Col>
        </Col>
        <Col class="w-full md:w-1/2 items-center md:items-start order-1 md:order-2">
            <img class="max-w-full md:max-w-[700px] w-auto h-auto max-h-[40vh] md:max-h-full" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=994,fit=crop/mxB80M662Qs3Z0G9/banner-YZ9XlZpNlzsxb1VZ.jpg"/>
        </Col>
    </Row>
</section>
<section class="bg-white">

</section>
